{%load static%}
<head >
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Cookery</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
    <link
        type="text/css"
        rel="stylesheet"
        href="{% static 'blog/css/default.css' %}" />

</head>

</head>

<body>

<div id="wrapper">
  <div id="header">
    <div id="logo">
     <h1><a href="#">Cookery</a></h1>
      <h2><a href="index.html">Все о вкусной пище</a></h2>
    </div>
  </div>

  <div id="menu" width="844px" padding = "0px 28px">
    <ul
	list-style =none;
	line-height =normal;>
      <li><a href = "{% url 'index' %}">Главная</a></li>
      <li><a href="{% url 'myblog' %}">Мой блог</a></li>
      <li><a href="{% url 'topics' %}">Форум</a></li>
      <li  class="active"><a href="{% url 'blogs' %}">Блоги</a></li>
      <li><a href="{% url 'parlor' %}">Кабинет</a></li>
	  <li><a href="{% url 'rating' %}">Рейтинг</a></li>
    </ul>
  </div>

  <div id="page">
    <div id="page-bgtop">
      <div id="content">
        <div class="post">
            <img src='{% static "blog/css/images/img09.jpg" %}'/>
          <div class="entry">

              <h2>Кэтрин Джейнвэй</h2>
              <p> <strong>Дата рождения:</strong>  20.06.2344</p>
                <p> <strong>Количество публикаций:</strong> 3</p>
               <p> <strong>Средний рейтинг:</strong> 4.75</p>
           <h2>Рецепты:</h2>
             <a href="#">Кофе по венски</a>
            <a href="#">Гляссе</a>
             <a href="#">Борщ</a>
          </div>
        </div>

        <div class="post">
          <div class="entry">
              <img src='{% static "blog/css/images/img09.jpg" %}'/>
              <h2>Кэтрин Джейнвэй</h2>
              <p> <strong>Дата рождения:</strong>  20.06.2344</p>
                <p> <strong>Количество публикаций:</strong> 3</p>
               <p> <strong>Средний рейтинг:</strong> 4.75</p>
           <h2>Рецепты:</h2>
             <a href="#">Кофе по венски</a>
            <a href="#">Гляссе</a>
             <a href="#">Борщ</a>
          </div>
        </div>
        <div class="post">
          <div class="entry">
              <img src='{% static "blog/css/images/img09.jpg" %}'/>
              <h2>Кэтрин Джейнвэй</h2>
              <p> <strong>Дата рождения:</strong>  20.06.2344</p>
                <p> <strong>Количество публикаций:</strong> 3</p>
               <p> <strong>Средний рейтинг:</strong> 4.75</p>
           <h2>Рецепты:</h2>
             <a href="#">Кофе по венски</a>
            <a href="#">Гляссе</a>
             <a href="#">Борщ</a>
          </div>
        </div>
        <div class="post">
          <div class="entry">
              <img src='{% static "blog/css/images/img09.jpg" %}'/>
              <h2>Кэтрин Джейнвэй</h2>
              <p> <strong>Дата рождения:</strong>  20.06.2344</p>
                <p> <strong>Количество публикаций:</strong> 3</p>
               <p> <strong>Средний рейтинг:</strong> 4.75</p>
           <h2>Рецепты:</h2>
             <a href="#">Кофе по венски</a>
            <a href="#">Гляссе</a>
             <a href="#">Борщ</a>
          </div>
        </div>
      </div>

      <div id="sidebar">
        <ul>
          <li id="search">
            <h2 class="search">Поиск</h2>
            <form method="get" action="">
              <fieldset>
              <input type="text" id="search-text" name="s" value="" />
              <input type="submit" id="search-submit" value="Найти!" />
			<li>
            <h2> <a href="{% url 'sitemap' %}">Карта сайта</a></h2>
            </li>
              </fieldset>
            </form>
          </li>

          <li>
            <h2>Категории:</h2>
            <ul>
              <form>

              <li><input type="checkbox" name="space" value="1" />  Супы</li>
              <li><input type="checkbox" name="space" value="2" /> Выпечка</li>
              <li><input type="checkbox" name="space" value="3" /> Напитки</li>
              <li><input type="checkbox" name="space" value="4" /> Закуски</li>
              <li><input type="checkbox" name="space" value="5" /> Салаты</li>
               </form>
            </ul>
          </li>
          <li>
            <h2>Сортировать по:</h2>
            <form>
                <select name = "sorting">
                    <option value="d"> Дате </option>
                    <option value="a"> Автору </option>
                    <option value="p"> Популярности </option>
                </select>
            </form>
             <br><br>
			<h2><a href="{% url 'siterules' %}">Правила сайта</a></h2>
          </li>
        </ul>
      </div>
      <div style="clear: both; height: 1px"></div>
    </div>
  </div>
  <div id="footer">
    <p>Lena &copy</p>
  </div>
</div>
</body>
</html>
