{%load static%}
<head >
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Cookery</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
    <link
        type="text/css"
        rel="stylesheet"
        href="{% static 'blog/css/default.css' %}" />

</head>

</head>

<body>

<div id="wrapper">
  <div id="header">
    <div id="logo">
     <h1><a href="#">Cookery</a></h1>
      <h2><a href="index.html">Все о вкусной пище</a></h2>
    </div>
  </div>

  <div id="menu" width="844px" padding = "0px 28px">
    <ul
	list-style =none;
	line-height =normal;>
      <li ><a href = "{% url 'index' %}">Главная</a></li>
      <li  class="active"><a href="{% url 'myblog' %}">Мой блог</a></li>
      <li><a href="{% url 'topics' %}">Форум</a></li>
      <li><a href="{% url 'blogs' %}">Блоги</a></li>
      <li><a href="{% url 'parlor' %}">Кабинет</a></li>
	  <li><a href="{% url 'rating' %}">Рейтинг</a></li>
    </ul>
  </div>


  <div id="page">
    <div id="page-bgtop">
      <div id="content">
        <div class="post">

             <form action= "{% url 'add_recipe' %}" method='post'>
	            {% csrf_token %}
                 <p class="byline">
                 <h2>Название блюда:</h2>
                 <p><textarea name='t'></textarea></p>
                  <p class="byline">
              <h2>Категории:</h2>
            <form>
                <select name = "sorting">
                    <option value="1"> Супы </option>
                    <option value="2"> Выпечка </option>
                    <option value="3"> Напитки </option>
                    <option value="4"> Закуски </option>
                    <option value="5"> Салаты </option>
                </select>
            </form>
              <p class="byline">
                <h2>Фото:</h2>
            <p class="byline">
                 <h2>Рецепт:</h2>
	            <p><textarea name='recipe' rows=30 cols=70></textarea></p>
	             <p><input type='submit' value='Добавить рецепт' /></p>
                </form>
                 <hr/>
                 {% if recipe %}
	              {% for r in recipe %}
		        <p><i><h2>{{ r.name_r }}</h2></i><i>{{ r.text }}</i> <br>{{ r.p_date }}</p>
	            {% endfor %}
                  {% endif %}

        </div>

        <div class="post">
          <h2 class="title"> <a href="#">Название</a></h2>
          <p class="byline">Категория: </p>
		  <img src='{% static "blog/images/img08.jpg" %}'/>
          <div class="entry">
            <p> <strong>Кофе по-венски</strong> это тот напиток, с которого по большому счету началось завоевание европейских городов ароматным бодрящим напитком. Рецептов кофе по-венски сегодня существует огромное множество и, к счастью, нет единого стандарта, ведь сам напиток был создан в результате экспериментов. Эксперименты с добавлением различных сладостей, пряностей, проводились для смягчения крепость и горечи турецкого кофе.  Рассмотрим два рецепта кофе по-венски ...  <p><a href="#">Читать полностью</a>...</p></p>
          </div>
          <div class="meta">
            <p class="links"><a href="#" class="comments">Комментарии (3)</a></p>
          </div>
        </div>

        <div class="post">
          <h2 class="title"> <a href="#">Кофе по-венски</a></h2>
          <p class="byline">Категория: напитки</p>
		  <img src='{% static "blog/images/img08.jpg" %}'/>
          <div class="entry">
            <p> <strong>Кофе по-венски</strong> это тот напиток, с которого по большому счету началось завоевание европейских городов ароматным бодрящим напитком. Рецептов кофе по-венски сегодня существует огромное множество и, к счастью, нет единого стандарта, ведь сам напиток был создан в результате экспериментов. Эксперименты с добавлением различных сладостей, пряностей, проводились для смягчения крепость и горечи турецкого кофе.  Рассмотрим два рецепта кофе по-венски ...  <p><a href="#">Читать полностью</a>...</p></p>
          </div>
          <div class="meta">
            <p class="links"><a href="#" class="comments">Комменарии (16)</a></p>
          </div>
        </div>

        <div class="post">
          <h2 class="title"> <a href="#">Кофе по-венски</a></h2>
          <p class="byline">Категория: напитки</p>
		  <img src="images/img08.jpg" alt="Кофе по-венски"> 
          <div class="entry">
            <p> <strong>Кофе по-венски</strong> это тот напиток, с которого по большому счету началось завоевание европейских городов ароматным бодрящим напитком. Рецептов кофе по-венски сегодня существует огромное множество и, к счастью, нет единого стандарта, ведь сам напиток был создан в результате экспериментов. Эксперименты с добавлением различных сладостей, пряностей, проводились для смягчения крепость и горечи турецкого кофе.  Рассмотрим два рецепта кофе по-венски ...  <p><a href="#">Читать полностью</a>...</p></p>
          </div>
          <div class="meta">
            <p class="links"><a href="#" class="comments">Комментарии (7)</a></p>
          </div>
        </div>
      </div>

      <div id="sidebar">
        <ul>
          <li id="search">
            <h2 class="search">Поиск</h2>
            <form method="get" action="">
              <fieldset>
              <input type="text" id="search-text" name="s" value="" />
              <input type="submit" id="search-submit" value="Найти!" />
			<li>
             <h2> <a href="{% url 'sitemap' %}">Карта сайта</a></h2>
            </li>
              </fieldset>
            </form>
          </li>
          
          <li>
            <h2>Категории:</h2>
            <ul>
              <form>

              <li><input type="checkbox" name="space" value="1" />  Супы</li>
              <li><input type="checkbox" name="space" value="2" /> Выпечка</li>
              <li><input type="checkbox" name="space" value="3" /> Напитки</li>
              <li><input type="checkbox" name="space" value="4" /> Закуски</li>
              <li><input type="checkbox" name="space" value="5" /> Салаты</li>
               </form>
            </ul>
          </li>
          <li>
            <h2>Сортировать по:</h2>
            <form>
                <select name = "sorting">
                    <option value="d"> Дате </option>
                    <option value="a"> Автору </option>
                    <option value="p"> Популярности </option>
                </select>
            </form>
             <br><br>
			<h2><a href="{% url 'siterules' %}">Правила сайта</a></h2>
          </li>
        </ul>
      </div>
      <div style="clear: both; height: 1px"></div>
    </div>
  </div>
  <div id="footer">
    <p>Lena &copy</p>
  </div>
</div>
</body>
</html>
