{%load static%}

<head >
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Cookery</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link
        type="text/css"
        rel="stylesheet"
        href="{% static 'blog/css/default.css' %}" />

</head>


<body>
<div id="wrapper">
  <div id="header">
    <div id="logo">
     <h1><a href="#">Cookery</a></h1>
      <h2><a href="index.html">Все о вкусной пище</a></h2>
    </div>
  </div>

   <div id="menu" width="844px" padding = "0px 28px">
    <ul
	list-style =none;
	line-height =normal;>
      <li><a href = "{% url 'index' %}">Главная</a></li>
      <li><a href="{% url 'myblog' %}">Мой блог</a></li>
      <li><a href="{% url 'topics' %}">Форум</a></li>
      <li><a href="{% url 'blogs' %}">Блоги</a></li>
      <li  class="active"><a href="{% url 'parlor' %}">Кабинет</a></li>
	  <li><a href="{% url 'rating' %}">Рейтинг</a></li>
    </ul>
  </div>



  <div id="page">
    <div id="page-bgtop">
      <div id="content">

        <div class="post">
             <img  src='{% static "blog/css/images/img09.jpg" %}'/>
          <div class="entry">

              <h2>Кэтрин Джейнвэй</h2>
              <p> <strong> Дата рождения:</strong>  20.06.2344</p>
                <p> <strong>Количество публикаций:</strong> 3</p>
               <p> <strong>Средний рейтинг:</strong> 4.75</p>
           <h2>Рецепты:</h2>
             <a href="#">Кофе по венски</a>
             <a href="#">Гляссе</a>
             <a href="#">Борщ</a>

             <h2> <strong>Избранное:</strong></h2>
             <a href="#">Кофе по венски</a>
             <a href="#">Гляссе</a>
             <a href="#">Борщ</a> </p>
              <div class="meta">
            <p class="links"><a href="#" class="comments"><input type="submit" value="Редактировать" /></a></p>
          </div>
          </div>
        </div>


      </div>

      <div id="sidebar">
        <ul>
          <li id="search">
            <h2 class="search">Поиск</h2>
            <form method="get" action="">
              <fieldset>
              <input type="text" id="search-text" name="s" value="" />
              <input type="submit" id="search-submit" value="Найти!" />
			<li>
           <h2> <a href="{% url 'sitemap' %}">Карта сайта</a></h2>
            </li>
              </fieldset>
            </form>
          </li>
          
          <li>
            <h2>Категории:</h2>
            <ul>
              <li><a href="#">Супы</a></li>
              <li><a href="#">Выпечка</a></li>
              <li><a href="#">Напитки</a></li>
              <li><a href="#">Закуски</a></li>
              <li><a href="#">Салаты</a></li>
            </ul>
          </li>
          <li>
            <h2>Сортировать по:</h2>
            <ul>
              <li>Дате</li>
              <li>Популярности</li>
              <li>Автору</li>
            </ul>
			<h2><a href="{% url 'siterules' %}">Правила сайта</a></h2>
          </li>
        </ul>
      </div>
      <div style="clear: both; height: 1px"></div>
    </div>
  </div>
  <div id="footer">
    <p>Lena &copy</p>
  </div>
</div>
</body>
</html>
