{%load static%}
<head >
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Cookery</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link
        type="text/css"
        rel="stylesheet"
        href="{% static 'blog/css/default.css' %}" />

</head>


<body>
<div id="wrapper">
  <div id="header">
    <div id="logo">
     <h1><a href="#">Cookery</a></h1>
      <h2><a href="index.html">Все о вкусной пище</a></h2>
    </div>
  </div>

  <div id="menu" width="844px" padding = "0px 28px">
    <ul
	list-style =none;
	line-height =normal;>
        <li ><a href = "{% url 'index' %}">Главная</a></li>
      <li><a href="{% url 'recipe' %}">Мой блог</a></li>
      <li><a href="{% url 'forum' %}">Форум</a></li>
      <li  class="active"><a href="{% url 'blogs' %}">Блоги</a></li>
      <li><a href="{% url 'parlor' %}">Кабинет</a></li>
	  <li><a href="{% url 'rating' %}">Рейтинг</a></li>
    </ul>
   </div>
  <div id="page">
    <div id="page-bgtop">
      <div id="content">
        <div class="post">		
          <h2 class="title"> <a href="#">Кофе по-венски</a></h2>
          <p class="byline">Категория: напитки</p>
		  <img src='{% static "blog/images/img08.jpg" %}'/>
          <div class="entry">
            <p> <strong>Кофе по-венски</strong> это тот напиток, с которого по большому счету началось завоевание европейских городов ароматным бодрящим напитком. Рецептов кофе по-венски сегодня существует огромное множество и, к счастью, нет единого стандарта, ведь сам напиток был создан в результате экспериментов. Эксперименты с добавлением различных сладостей, пряностей, проводились для смягчения крепость и горечи турецкого кофе.</p>
          <li>
            <h2>Ингредиенты</h2>
            <ul>
              <li>Натуральный черный кофе – 1 чашка</li>
              <li>Цикорий – 2 г</li>
              <li>Сливки – 50 мл</li>
              <li>Сахарная пудра – 1 чайная ложка</li>
              <li>Сахар – 2 чайные ложки</li>
            </ul>
          </li>
		  <h2>Рецепт</h2>
		  
		<p> <h2>1</h2>В турку насыпьте кофе 3 чайных ложки, залейте холодной водой и поставьте на конфорку. Дождитесь пока он начнет кипеть и снимите с плиты.</p>
      	<p> <h2>2</h2>Процедите кофе, вылейте его в чашку и насыпьте сахар.</p>
       	<p>  <h2>3</h2>Взбейте сливки, цикорий и сахарную пудру. Поставьте смесь остывать в холодильнике.</p>
         <p>  <h2>4</h2>Кофе по-венски подается в стакане, а сверху кладутся взбитые сливки. Можно также посыпать напиток шоколадной крошкой. Подавайте его холодным.</p>

		  </div>
            <div class="entry">

                <p><h2 class="title"> Комментарии</h2></p>
                <form action= "{% url 'process' %}" method='post'>
	            {% csrf_token %}
	            <p><textarea name='comment'></textarea></p>
	             <p><input type='submit' value='Отправить!' /></p>
                </form>
                 <hr/>
                 {% if comment %}
	              {% for t in comment %}
		        <p><i> {{ t.text_comment }}</i> <br>{{ t.p_date }}</p>

	            {% endfor %}
                  {% else %}
	              <p>Что вы думаете про этот рецепт? </p>
                  {% endif %}
		  </div>
        </div>
      </div>

      <div id="sidebar">
        <ul>
          <li id="search">
            <h2 class="search">Поиск</h2>
            <form method="get" action="">
              <fieldset>
              <input type="text" id="search-text" name="s" value="" />
              <input type="submit" id="search-submit" value="Найти!" />
			<li>
            <h2> <a href="{% url 'sitemap' %}">Карта сайта</a></h2>
            </li>
              </fieldset>
            </form>
          </li>
          
          <li>
            <h2>Категории:</h2>
            <ul>
              <li><a href="#">Супы</a></li>
              <li><a href="#">Выпечка</a></li>
              <li><a href="#">Напитки</a></li>
              <li><a href="#">Закуски</a></li>
              <li><a href="#">Салаты</a></li>
            </ul>
			<h2><a href="{% url 'siterules' %}">Правила сайта</a></h2>
          </li>
        </ul>
      </div>
      <div style="clear: both; height: 1px"></div>
    </div>
  </div>
  <div id="footer">
    <p>Lena &copy</p>
  </div>
</div>
</body>
</html>
