{%load static%}
<head >
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Cookery</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link
        type="text/css"
        rel="stylesheet"
        href="{% static 'blog/css/default.css' %}" />

</head>


<body>
<div id="wrapper">
  <div id="header">
    <div id="logo">
     <h1><a href="#">Cookery</a></h1>
      <h2><a href="index.html">Все о вкусной пище</a></h2>
    </div>
  </div>

  <div id="menu" width="844px" padding = "0px 28px">
    <ul
	list-style =none;
	line-height =normal;>
      <li  class="active" ><a href = "{% url 'index' %}">Главная</a></li>
      <li><a href="{% url 'myblog' %}">Мой блог</a></li>
      <li><a href="{% url 'topics' %}">Форум</a></li>
      <li><a href="{% url 'blogs' %}">Блоги</a></li>
      <li><a href="{% url 'parlor' %}">Кабинет</a></li>
	  <li><a href="{% url 'rating' %}">Рейтинг</a></li>
    </ul>
  </div>


  <div id="page">
    <div id="page-bgtop">
      <div id="content">

        <div>
          <h2 class="title"> <a href="#">Карта сайта</a></h2>
          <div class="entry">
            <p> <li>

            <ul>
              <li><a href="#"><h2>Главная</h2></a></li>
              <li><a href="#"><h2>Мой блог</h2></a></li>
			  <li><a href="#"><h2>Блоги</h2></a></li>
              <li><a href="#"><h2>Кабинет</h2></a></li>
              <li><a href="#"><h2>Рейтинг</h2></a></li>
              <li><a href="#"><h2>Форум</h2></a></li>
			  <li><a href="#"><h2>Правила сайта</h2></a></li>
              <br>
            </ul>
          </li>
		  </div>
        </div>
      </div>

      <div id="sidebar">
        <ul>
          <li id="search">

            <h2 class="search">Поиск</h2>
            <form method="get" action="">
              <fieldset>
              <input type="text" id="search-text" name="s" value="" />
              <input type="submit" id="search-submit" value="Найти!" />
			<li>
            <h2> <a href="{% url 'sitemap' %}">Карта сайта</a></h2>

            </li>
              </fieldset>
            </form>
          </li>
          

          <h2><a href="{% url 'siterules' %}">Правила сайта</a></h2>
        </ul>
      </div>
      <div style="clear: both; height: 1px"></div>
    </div>
  </div>
  <div id="footer">
    <p>Lena &copy</p>
  </div>
</div>
</body>
</html>
